body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 0;
}

form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 150px;
}

input[type="text"] {
  width: 100px;
}

input[type="button"] {
  margin-left: 155px;
}

#links-container a {
  display: block;
  margin-bottom: 5px;
}
